<head>
    <style>
        :root {
            --primary-color: #4CAF50;
            --secondary-color: #45a049;
        }
        .bg-primary-gradient {
            background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
        }
        </style>
</head>

<header class="bg-primary-gradient">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark py-3">
            <div class="container-fluid px-0">
                <a class="navbar-brand" href="#">
                    <h1 class="mb-0 h4">EcoGadget</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/products">Buy</a></li>
                        <li class="nav-item"><a class="nav-link" href="/sell">Sell</a></li>
                        <li class="nav-item"><a class="nav-link" href="/request-borrow">Borrow</a></li>
                        <li class="nav-item"><a class="nav-link" href="/request-repair">Repair</a></li>
                    </ul>
                    <div class="d-flex">
                        <% if(currUser) {%>
                        <a href="/logout" class="btn btn-outline-light me-2">Logout</a>
                        <% } else { %>
                        <a href="/login" class="btn btn-outline-light me-2">Login</a>
                        <a href="/signup" class="btn btn-light">Sign Up</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>